<html>
    <head>
        <title>Page de connexion</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <h1>Connexion</h1>
        <form  method="POST" action="/connect">
            <label>Connexion</label><br>
            <input name = 'Pseudo' type="text">
            <input type = "submit" value="Se connecter">
        </form>
        <form  method="POST" action="/mailConfirm">
            <label>Mail</label><br>
            <input name = 'Mail' type="text">
            <input type = "submit" value="Se connecter">
        </form>
    </body>
</html>