<!--extension ejs language support-->
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form method="post" action = '/connectPage'>
            <button type = 'submit'> Se connecter</button>
        </form>
        <h1>Page d'entrainement </h1>
        
    
    </body>
</html>